<div class="footer-main">
    <div class="footer-main-inner">
        <nav class="footer-main-left">
            <img src="Screenshot_2024-08-28_143509-removebg-preview.png" alt="">
            <nav class="footer-main-menu">
                <ul class="footer-main-menu-cell">
                    <li>Games</li>
                    <li>Company</li>
                    <li>Support</li>
                </ul>
                <ul class="footer-main-menu-cell" style="margin-left: 144px;">
                    <li>Privacy Policy</li>
                    <li>Cookies Policy</li>
                    <li>Do Not Sell My Personal Information</li>
                </ul>
            </nav>
        </nav>
        <nav class="footer-main-right">
            <p class="footer-main-text">Follow Us On Our Social Channels!</p>
            <img src="Screenshot 2024-08-28 151206.png" alt="" class="social-media">
        </nav>
    </div>
</div>
<div class="footer-bottom">
    <p class="copyright">Copyright ©2024 KOEI TECMO GAMES CO., LTD. All Rights Reserved.</p>
</div>