<div class="nav-container">
    <div class="inner">
        <a href="/" class="logo">
        </a>
        <div class="menu-list">
            <div class="menu-list-inner">
                <img src="Screenshot_2024-08-25_110838-removebg-preview.png" alt="">
                <a href="/games">Games</a>
            </div>
            <div class="menu-list-inner">
                <img src="Screenshot_2024-08-25_114018-removebg-preview.png" alt="">
                <a href="/whats-new">What's new</a>
            </div>
            <div class="menu-list-inner">
                <img src="Screenshot_2024-08-25_114041-removebg-preview.png" alt="">
                <a href="/company">Company</a>
            </div>
            <div class="menu-list-inner">
                <img src="Screenshot_2024-08-25_114052-removebg-preview.png" alt="">
                <a href="/support">Support</a>
            </div>
        </div>
        <img src="Screenshot_2024-08-25_120551-removebg-preview.png" alt="" class="search">
    </div>
</div>