<div class="add-container">
    <form action="/post-news" id="form" method="post">
        <div class="add-contanier-container">
            <label for="add-head" class="add-text">Head:</label>
            <textarea id="add-head" class="add head" name="header"></textarea>
        </div>
        <div class="add-contanier-container">
            <label for="add-image" class="add-text">Image URL:</label>
            <input type="text" id="add-image" class="add image" name="image">
        </div>
        <div class="add-contanier-container">
            <label for="add-date" class="add-text">Date:</label>
            <input type="text" id="add-date" class="add date" name="date">
        </div>
        <div class="add-contanier-container">
            <label for="add-first-category" class="add-text">First Category:</label>
            <input type="text" id="add-first-category" class="add date" name="firstSpan">
        </div>
        <div class="add-contanier-container">
            <label for="add-other-category" class="add-text">Other Category:</label>
            <input type="text" id="add-other-category" class="add date" name="notFirstSpan">
        </div>
        <button id="post-news">Post</button>
    </form>
</div>

