<div class="container-games">
    <div class="breadcrumbs">
        <a href="/" class="go-home">Home </a>
        <span class="breadcrumbs-text">/ Games</span>
        <h1 class="page-title">Browse Games</h1>
    </div>
    <div class="filters">
        <div class="filters-right">
            <p class="filters-right-text">Filters</p>
            <div class="filters-right-list">
                <div class="list-content">
                    <span class="select">Release Date</span>
                    <span class="list-category">All</span>
                    <img src="Screenshot_2024-08-28_184940-removebg-preview.png" alt="">
                </div>
                <div class="list-content">
                    <span class="select">Platforms</span>
                    <span class="list-category">All</span>
                    <img src="Screenshot_2024-08-28_184940-removebg-preview.png" alt="">
                </div>
                <div class="list-content">
                    <span class="select">Develepmont Team</span>
                    <span class="list-category">All</span>
                    <img src="Screenshot_2024-08-28_184940-removebg-preview.png" alt="">
                </div>
            </div>
        </div>
        <div class="filters-left">
            <p class="filters-right-text">Sort By</p>
            <div class="sort-by">
                <span class="select">From New to Old</span>
                <img src="Screenshot_2024-08-28_184940-removebg-preview.png" alt="">
            </div>
            <div class="search-games">
                <img src="Screenshot_2024-08-25_120551-removebg-preview.png" alt="">
            </div>
        </div>
    </div>
    <div class="cards-grid-games">
        {{!-- usse handlebars --}}
    </div>
</div>