<div class="index-container">
    <div class="slides-container-slides">
        <nav class="slides-nav">
                <span href="#one" class="slides-button" id="1"></span>
                <span href="#two" class="slides-button" id="2"></span>
                <span href="#three" class="slides-button" id="3"></span>
                <span href="#four" class="slides-button" id="4"></span>
                <span href="#five" class="slides-button" id="5"></span>
            </nav>
        <div class="slides-container">
            <div class="slides five tp" id="five">
                <div class="slide cinco">
                    <div class="inner-text">
                        <h1>ROMANCE OF THE THREE KINGDOMS 8 REMAKE</h1>
                        <p>Fate/Samurai Remnant released on PlayStation®5, PlayStation®4, Nintendo Switch™, and on PC via Steam® on September 29, 2023</p>
                        <a href="">FIND OUT MORE</a>
                    </div>
                </div>
            </div>
            <div class="slides one" id="1">
                <div class="slide uno">
                    <div class="inner-text">
                        <h1>ROMANCE OF THE THREE KINGDOMS 8 REMAKE</h1>
                        <p>ROMANCE OF THE THREE KINGDOMS 8 REMAKE will release on PlayStation®5, PlayStation®4, Nintendo Switch™ and PC via Steam® on October 24 2024.</p>
                        <a href="">FIND OUT MORE</a>
                    </div>
                </div>
            </div>
            <div class="slides two" id="2">
                <div class="slide dos">
                    <div class="inner-text">
                        <h1>FAIRY TAIL 2</h1>
                        <p>FAIRY TAIL 2 will release on PlayStation®5, PlayStation®4, Nintendo Switch™ and PC via Steam® this winter.</p>
                        <a href="">FIND OUT MORE</a>
                    </div>
                </div>
            </div>
            <div class="slides three" id="3">
                <div class="slide tres">
                    <div class="inner-text">
                        <h1>DYNASTY WARRIORS: ORIGINS</h1>
                        <p>DYNASTY WARRIORS: ORIGINS will release on PlayStation®5, Steam® and Xbox Series X|S in 2025</p>
                        <a href="">FIND OUT MORE</a>
                    </div>
                </div>
            </div>
            <div class="slides four" id="4">
                <div class="slide quatro">
                    <div class="inner-text">
                        <h1>WO LONG: FALLEN DYNASTY COMPLETE EDITION</h1>
                        <p>Wo Long: Fallen Dynasty Complete Edition released on February 6, 2024 for Xbox Series X|S, Xbox One, PlayStation®5, PlayStation®4, and PC via Windows and Steam®.</p>
                        <a href="">FIND OUT MORE</a>
                    </div>
                </div>
            </div>
            <div class="slides five" id="5">
                <div class="slide cinco">
                    <div class="inner-text">
                        <h1>FATE/SAMURAI REMNANT</h1>
                        <p>FAIRY TAIL 2 will release on PlayStation®5, PlayStation®4, Nintendo Switch™ and PC via Steam® this winter.</p>
                        <a href="">FIND OUT MORE</a>
                    </div>
                </div>
            </div>
            <div class="slides one tp" id="one">
                <div class="slide uno">
                    <div class="inner-text">
                        <h1>ROMANCE OF THE THREE KINGDOMS 8 REMAKE</h1>
                        <p>Fate/Samurai Remnant released on PlayStation®5, PlayStation®4, Nintendo Switch™, and on PC via Steam® on September 29, 2023</p>
                        <a href="">FIND OUT MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="coming-soon-container-container">
        <div class="coming-soon-container">
            <h1>Coming Soon</h1>
            <div class="cards-grid-coming">
                <div class="card-cell">
                    <a href="https://www.koeitecmoamerica.com/games/dynasty-warriors-origins/" class="card-card">
                        <span class="card-badge">Coming Soon</span>
                        <img src="DWO-Featured-290x358.jpg" alt="" class="card-image">
                        <div class="card-content">
                            <h1>DYNASTY WARRIORS: ORIGINS</h1>
                            <div class="card-categories">
                                <span class="first-span">PS5</span>
                                <span class="not-first-span">Steam</span>
                                <span class="not-first-span">Xbox Series X|S</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card-cell">
                    <a href="https://www.koeitecmoamerica.com/games/fairy-tail-2/" class="card-card">
                        <span class="card-badge">Coming Soon</span>
                        <img src="FT2-Featured-290x358.jpg" alt="" class="card-image">
                        <div class="card-content">
                            <span class="note">Gust</span>
                            <h1>FAIRY TAIL 2</h1>
                            <div class="card-categories">
                                <span class="first-span">PS4</span>
                                <span class="not-first-span">PS5</span>
                                <span class="not-first-span">Steam</span>
                                <span class="not-first-span">Switch</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card-cell">
                    <a href="https://www.koeitecmoamerica.com/games/romance-of-the-three-kingdoms-8-remake/" class="card-card">
                        <span class="card-badge">Coming Soon</span>
                        <img src="RTK8-Featured-290x358.jpg" alt="" class="card-image">
                        <div class="card-content">
                            <span class="note">KOU SHIBUSAWA</span>
                            <h1>ROMANCE OF THE THREE KINGDOMS 8 REMAKE</h1>
                            <div class="card-categories">
                                <span class="first-span">PS4</span>
                                <span class="not-first-span">PS5</span>
                                <span class="not-first-span">Steam</span>
                                <span class="not-first-span">Switch</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="recent-and-best">
        <div class="recent-and-best-container">
            <h1>Recent Releases</h1>
            <div class="cards-grid recent">
                <div class="card-cell-big">
                    <a href="" class="card-card-big">
                        <span class="card-badge">Recently Released</span>
                        <img src="sw4dx_game_ft_big-770x460.jpg" alt="">
                        <div class="card-content-big">
                            <h1>SAMURAI WARRIORS 4 DX</h1>
                            <p>The sparks of destiny ignite in this rich depiction of the Warring States period!</p>
                            <div class="card-categories" style="align-self: flex-start;">
                                <span>Steam</span>
                            </div>
                            <button class="button" style="align-self: flex-start;"> Read more</button>
                        </div>
                    </a>
                </div>
                <div class="card-cell">
                    <a href="" class="card-card">
                        <span class="card-badge">Recently Released</span>
                        <img src="WoLongCE_GamePage-290x358.jpg" alt="" class="card-image">
                        <div class="card-content">
                            <span class="note">Team NINJA</span>
                            <h1>WO LONG: FALLEN DYNASTY COMPLETE EDITION</h1>
                            <div class="card-categories">
                                <span class="first-span">Microsoft Store</span>
                                <span class="not-first-span">PS4</span>
                                <span class="not-first-span">PS5</span>
                                <span class="not-first-span">Steam</span>
                                <span class="not-first-span">Xbox One</span>
                                <span class="not-first-span">Xbox Series X|S</span>
                            </div>
                        </div>
                    </a>
                    <a href="" class="card-card">
                        <span class="card-badge">Recently Released</span>
                        <img src="FSR-Featured-290x358.jpg" alt="" class="card-image">
                        <div class="card-content">
                            <span class="note">Omega Force</span>
                            <h1>FATE/SAMURAI REMNANT</h1>
                            <div class="card-categories">
                                <span class="first-span">PS4</span>
                                <span class="not-first-span">PS5</span>
                                <span class="not-first-span">Steam</span>
                                <span class="not-first-span">Switch</span>
                            </div>
                        </div>
                    </a>
                    <a href="" class="card-card">
                        <span class="card-badge">Recently Released</span>
                        <img src="nobunaga_awakening_game_ft-1-290x358.jpg" alt="" class="card-image">
                        <div class="card-content">
                            <span class="note">KOU SHIBUSAWA</span>
                            <h1>NOBUNAGA'S AMBITION: AWAKENING</h1>
                            <div class="card-categories">
                                <span class="first-span">Microsoft Store</span>
                                <span class="not-first-span">PS4</span>
                                <span class="not-first-span">Steam</span>
                                <span class="not-first-span">Switch</span>
                            </div>
                        </div>
                    </a>
                    <a href="" class="card-card">
                        <span class="card-badge">Recently Released</span>
                        <img src="AtelierMarie-Featured-290x358.jpg" alt="" class="card-image">
                        <div class="card-content">
                            <span class="note">Team NINJA</span>
                            <h1>WO LONG: FALLEN DYNASTY COMPLETE EDITION</h1>
                            <div class="card-categories">
                                <span class="not-first-span">PS4</span>
                                <span class="not-first-span">PS5</span>
                                <span class="not-first-span">Steam</span>
                                <span class="not-first-span">Switch</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
                <h1 class="best-h1">Best Sellers</h1>
                <div class="cards-grid recent">
                <div class="card-cell-big">
                    <a href="" class="card-card-big">
                        <img src="Ryza-Featured-580x460.jpg" alt="">
                        <div class="card-content-big">
                            <h1>ATELIER RYZA: EVER DARKNESS &amp; THE SECRET HIDEOUT</h1>
                            <p>Even though everyone has them, the memories we create with our friends are special to each and every one of us.The story of "Atelier Ryza" is about a girl and her friends on the verge of adulthood, discovering what is most important to them.</p>
                            <div class="card-categories" style="align-self: flex-start;">
                                <span class="first-span">PS4</span>
                                <span class="not-first-span">Steam</span>
                                <span class="not-first-span">Switch</span>
                            </div>
                            <button class="button" style="align-self: flex-start;"> Read more</button>
                        </div>
                    </a>
                </div>
                <div class="card-cell">
                    <a href="" class="card-card">
                        <img src="NGMC-FeaturedV2-290x358.jpg" alt="" class="card-image">
                        <div class="card-content">
                            <span class="note">Team NINJA</span>
                            <h1>NINJA GAIDEN: MASTER COLLECTION</h1>
                            <div class="card-categories">
                                <span class="first-span">PS4</span>
                                <span class="not-first-span">Steam</span>
                                <span class="not-first-span">Switch</span>
                                <span class="not-first-span">Xbox One</span>
                            </div>
                        </div>
                    </a>
                    <a href="" class="card-card">
                        <img src="Nioh2-Featured-1-290x358.jpeg" alt="" class="card-image">
                        <div class="card-content">
                            <span class="note">Team NINJA</span>
                            <h1>NIOH 2: THE COMPLETE EDITION</h1>
                            <div class="card-categories">
                                <span class="first-span">Epic Games Store</span>
                                <span class="not-first-span">Steam</span>
                            </div>
                        </div>
                    </a>
                    <a href="" class="card-card">
                        <img src="Hero-Mobile-Nioh1-290x358.jpg" alt="" class="card-image">
                        <div class="card-content">
                            <span class="note">Team NINJA</span>
                            <h1>NIOH: COMPLETE EDITION</h1>
                            <div class="card-categories">
                                <span class="first-span">Epic Games Store</span>
                                <span class="not-first-span">Steam</span>
                            </div>
                        </div>
                    </a>
                    <a href="" class="card-card">
                        <img src="Featured-FFMOTLE-290x358.jpg" alt="" class="card-image">
                        <div class="card-content">
                            <span class="note">  </span>
                            <h1>FATAL FRAME: MASK OF THE LUNAR ECLIPSE</h1>
                            <div class="card-categories">
                                <span class="not-first-span">PS4</span>
                                <span class="not-first-span">PS5</span>
                                <span class="not-first-span">Steam</span>
                                <span class="not-first-span">Switch</span>
                                <span class="not-first-span">Xbox One</span>
                                <span class="not-first-span">Xbox Series X|S</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="whats-new">
        <div class="whats-new-container">
            <div class="whats-new-header">
                <div class="right-whats-new">
                    <img src="Screenshot_2024-08-25_114018-removebg-preview.png" alt="">
                    <h1>What's New</h1>
                </div>
                <div class="left-whats-new">
                    <h1>View All</h1>
                    <img src="Screenshot_2024-08-28_112011-removebg-preview.png" alt="">
                </div>
            </div>
            <div class="cards-grid-new">
                <div class="cards-cell-new-big">
                    <a href="" class="card-card-new-big">
                        <img src="YumiaYT-840x473.jpg" alt="">
                        <div class="card-content-new-big">
                            <div class="heading">
                                <div class="card-categories">
                                    <span class="first-span">KTE</span>
                                    <span class="not-first-span">Atelier</span>
                                </div>
                                <p class="date">08/27/2024</p>
                            </div>
                            <h1 class="card-title">
                                KOEI TECMO AMERICA unveils the first teaser trailer for Atelier Yumia: The Alchemist of Memories &amp; the Envisioned Land
                            </h1>
                        </div>
                    </a>
                </div>
                <div class="cards-cell-new-first">
                    <div class="card-card-new">
                        <img src="21_Unison-Raid-400x220.jpg" alt="">
                        <div class="card-content">
                            <h1 class="card-title">FAIRY TAIL 2's Final Battle to Begin Dec. 13!</h1>
                            <div class="card-categories">
                                    <span class="first-span">KTE</span>
                                    <span class="not-first-span">Collaboration Games</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cards-cell-new">
                    <div class="card-card-new">
                        <img src="23_Traits_2-400x220.jpg" alt="">
                        <div class="card-content">
                            <p class="date">08/22/2024</p>
                            <h1 class="card-title">Unify Ancient China Through Transformed Battles in  Romance of the Three Kingdoms 8 REMAKE!</h1>
                            <div class="card-categories">
                                    <span class="first-span">KTE</span>
                                    <span class="not-first-span">Romance Of The Three Kingdoms</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cards-cell-new">
                    <div class="card-card-new">
                        <img src="3_Action_Gray-Battle-400x220.jpg" alt="">
                        <div class="card-content">
                            <p class="date">07/31/2024</p>
                            <h1 class="card-title">KOEI TECMO Unveils New Information on the Main Heroes and Villains Portrayed in FAIRY TAIL 2</h1>
                            <div class="card-categories">
                                    <span class="first-span">KTE</span>
                                    <span class="not-first-span">Collaboration Games</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cards-cell-new">
                    <div class="card-card-new">
                        <img src="protagonist_introduction_00-400x220.jpg" alt="">
                        <div class="card-content">
                            <p class="date">07/25/2024</p>
                            <h1 class="card-title">KOEI TECMO Reveals the First Storyline Details for their Upcoming Action Game, DYNASTY WARRIORS: ORIGINS</h1>
                            <div class="card-categories">
                                    <span class="first-span">KTE</span>
                                    <span class="not-first-span">Warriors</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="script.js" type="module"></script>
