<div class="support-outer">
    <div class="support-inner">
        <div class="support-inner-inner">
            <div class="breadcrumbs">
                <a href="/" class="go-home">Home </a>
                <span class="breadcrumbs-text">/ Support</span>
            </div>
            <div class="inner-row-support">
                <h1 class="page-title" style="padding-top: 0px;">Welcome to Customer Support</h1>
                <h2>Customer service Representatives</h2>
                <p>Click on the “Game Support/Contact Form” button to view frequently asked questions and answers. If you can't find the answer to your question, please use our Contact Form for&nbsp;<strong><strong>GAME inquiries</strong></strong></p>
                <p><strong>As of August 31st 2023</strong>, we will have game support inquiries in the following languages:</p>
                <p>English, French, Italian, German, Spanish, Portuguese, Brazilian Portuguese, Polish, Russian, Traditional Chinese and Simplified Chinese.</p>
                <ul>
                    <li>
                        <p>
                            We will reply in the language of your inquiry. (Limited to the languages listed above)
                        </p>
                    </li>
                    <li>
                        <p>
                            Please note that our answers in languages other than English will be machine-translated.
                        </p>
                    </li>
                    <li>
                        <p>
                            You will be redirected to an inquiry form in each language depending on the language setting of your Internet browser.
                        </p>
                    </li>
                    <li>
                        <p>
                            Depending on your operating environment, a form in your language may not be displayed. Please understand this in advance.
                        </p>
                    </li>
                </ul>
                <p>* Clicking “Game Support/Contact Form” will take you to the input page of our “support.koeitecmo.info” domain. This domain is safe and secure and is part of our official customer support page. Please submit your inquiries in the “Contact Form” only, and we will reply to you via email. To access, please use the latest PC browser (Google Chrome, Mozilla Firefox, Safari, Opera, Microsoft Edge), or smartphone (Android5 or higher Google Chrome, Mozilla Firefox, iOS6 or higher Safari, Opera, Samsung Internet). THIS IS FOR TECHNICAL SUPPORT ONLY. Customer Service Representatives do NOT provide Game Hints or Tips and do NOT accept game ideas. Depending on your inquiry, please know that we may not always have answers or might take some time to respond to your inquiry.</p>
            </div>
        </div>
        <div class="page-inner-form">
            <div class="form-field">
                <label class="form-field__label" for="topic">What Can We Help You With?</label>
                <div class="form-select">
                    <p>Game Inquiries</p>
                    <img src="Screenshot_2024-08-28_184940-removebg-preview.png" alt="">
                </div>
                <a href="https://support.koeitecmo.info/hc/" target="_blank">Game Support/Contact Form</a>
            </div>
        </div>
    </div>
</div>